<div class='container-fluid card p-3 animated slideInRight'>

    <form action="/add/process" method="POST" class="row">

        <div class="col-12" style='display: none'>
            <label>UUID</label>
            <input type="text" class="form-control" id='uuid' name='uuid'>
        </div>

        <div class="col-12" style='display: none'>
            <label>ID</label>
            <input type="text" class="form-control" name='id' value="{{this._id}}">
        </div>
        <div class="col-6">
            <label>Company Name</label>
            <input type="text" class="form-control" name='companyName' value="{{this.companyName}}">
        </div>
        <div class="col-6">
            <label>Job Title</label>
            <input type="text" class="form-control" name='jobTitle' value="{{this.jobTitle}}">
        </div>
        <div class="col-12">
            <label>Job Description</label>
            <input type="text" class="form-control" name='jobDescription' value="{{this.jobDescription}}">
        </div>
        <div class="col-6">
            <label>Job Level</label>
            <select class="form-control" id='jobLevel' name="jobLevel" data-existing='{{this.jobLevel}}'>
                <option id='jobLevel_internship' value="Internship">Internship</option>
                <option id='jobLevel_entryLevel' value="Entry Level">Entry Level</option>
                <option id='jobLevel_midLevel' value="Mid Level">Mid Level</option>
                <option id='jobLevel_seniorLevel' value="Senior Level">Senior Level</option>
                <option id='jobLevel_notIndicated' value="Not Indicated">Not Indicated</option>
            </select>
        </div>
        <div class="col-6">
            <label>Minimum Years Experience</label>
            <input type="number" step='0.5' class="form-control" name='minimumYearsExperience'
                value="{{this.minimumYearsExperience}}">
        </div>
        <div class="col-6">
            <label>Desire Level</label>
            <input type="range" class="form-control slider" min="1" max="5" value="{{this.desireLevel}}"
                name='desireLevel'>
        </div>
        <div class="col-6">
            <label>Confidence Level</label>
            <input type="range" class="form-control slider" min="1" max="5" value="{{this.confidenceLevel}}"
                name='confidenceLevel'>
        </div>
        <div class="col-6">
            <label>Application Submission Date</label>
            <input type="date" class="form-control" name='applicationSubmissionDate'
                value="{{this.applicationSubmissionDate}}">
        </div>
        <div class="col-6">
            <label>Date of First Response</label>
            <input type="date" class="form-control" name='dateOfFirstResponse' value="{{this.dateOfFirstResponse}}">
        </div>
        <div class="col-4">
            <label>Four Year Degree Required?</label>
            <select class="form-control" id="fourYearDegreeRequired" name="fourYearDegreeRequired"
                data-existing='{{this.fourYearDegreeRequired}}'>
                <option id='fourYearDegreeRequired_yes' value="Yes">Yes</option>
                <option id='fourYearDegreeRequired_no' value="No">No</option>
            </select>
        </div>
        <div class="col-4">
            <label>Degree in Preferred Major Held?</label>
            <select class="form-control" id="preferredDegreeHeld" name="preferredDegreeHeld"
                data-existing='{{this.preferredDegreeHeld}}'>
                <option id='preferredDegreeHeld_yes' value="Yes">Yes</option>
                <option id='preferredDegreeHeld_no' value="No">No</option>
            </select>
        </div>
        <div class="col-4">
            <label>Major Corporation?</label>
            <select class="form-control" id="majorCorporation" name="majorCorporation"
                data-existing='{{this.majorCorporation}}'>
                <option id='majorCorporation_yes' value="Yes">Yes</option>
                <option id='majorCorporation_no' value="No">No</option>
            </select>
        </div>
        <div class="col-12">
            <label>List of Essential Skills</label>
            <input type="text" class="form-control" name='essentialSkills' value="{{this.essentialSkills}}">
        </div>
        <div class="col-4">
            <label>Location of Posting</label>
            <select class="form-control" id="locationOfPosting" name="locationOfPosting"
                data-existing='{{this.locationOfPosting}}'>
                <option id='locationOfPosting_linkedIn' value="LinkedIn">LinkedIn</option>
                <option id='locationOfPosting_glassdoor' value="Glassdoor">Glassdoor</option>
                <option id='locationOfPosting_indeed' value="Indeed">Indeed</option>
                <option id='locationOfPosting_monster' value="Monster">Monster</option>
                <option id='locationOfPosting_companyWebsite' value="Company Website">Company Website</option>
                <option id='locationOfPosting_other' value="Other">Other</option>
            </select>
        </div>
        <div class="col-4">
            <label>Location of Submission</label>
            <select class="form-control" id="locationOfSubmission" name="locationOfSubmission"
                data-existing='{{this.locationOfSubmission}}'>
                <option id='locationOfSubmission_linkedIn' value="LinkedIn">LinkedIn</option>
                <option id='locationOfSubmission_glassdoor' value="Glassdoor">Glassdoor</option>
                <option id='locationOfSubmission_indeed' value="Indeed">Indeed</option>
                <option id='locationOfSubmission_monster' value="Monster">Monster</option>
                <option id='locationOfSubmission_companyWebsite' value="Company Website">Company Website</option>
                <option id='locationOfSubmission_other' value="Other">Other</option>
            </select>
        </div>
        <div class="col-4">
            <label>Easy Apply?</label>
            <select class="form-control" id='easyApply' name="easyApply" data-existing='{{this.easyApply}}'>
                <option id='easyApply_yes' value="Yes">Yes</option>
                <option id='easyApply_no' value="No">No</option>
            </select>
        </div>
        <div class="col-4">
            <label>Stack Type</label>
            <select class="form-control" id='stackType' name="stackType" data-existing='{{this.stackType}}'>
                <option id='stackType_frontEnd' value="Front End">Front End</option>
                <option id='stackType_backEnd' value="Back End">Back End</option>
                <option id='stackType_fullStack' value="Full Stack">Full Stack</option>
            </select>
        </div>
        <div class="col-4">
            <label>Years Relevant Experience at Time of Application</label>
            <input type="number" step='0.5' class="form-control" name='yearsExperienceAtTimeOfApplication'
                value="{{this.yearsExperienceAtTimeOfApplication}}">
        </div>
        <div class="col-4">
            <label>Number of Featured Projects at Time of Application</label>
            <input type="number" step='1' class="form-control" name='numberOfFeaturedProjectsAtTimeOfApplication'
                value="{{this.numberOfFeaturedProjectsAtTimeOfApplication}}">
        </div>
        <div class="col-12">
            <label>Application Follow-Up URL</label>
            <input type="text" class="form-control" name='applicationURL' value="{{this.applicationURL}}">
        </div>
        <div class="col-6">
            <label>Application Progress</label>
            <select class="form-control" id='progress' name='progress' data-existing='{{this.progress}}'>
                <option id='progress_applicationSubmitted' value="Application Submitted">Application Submitted</option>
                <option id='progress_resumeReviewed' value="Resume Reviewed">Resume Reviewed</option>
                <option id='progress_portfolioReferenced' value="Portfolio Referenced">Portfolio Referenced</option>
                <option id='progress_interviewOffered' value="Interview Offered">Interview Offered</option>
                <option id='progress_interviewCompleted' value="Interview Completed">Interview Completed</option>
                <option id='progress_jobOffered' value="Job Offered">Job Offered</option>
            </select>
        </div>
        <div class="col-6">
            <label>Closure</label>
            <select class="form-control" id='closure' name='closure' data-existing='{{this.closure}}'>
                <option id='closure_outstanding' value="Outstanding">Outstanding</option>
                <option id='closure_accepted' value="Accepted">Accepted</option>
                <option id='closure_denied' value="Denied">Denied</option>
                <option id='closure_withdrawn' value="Withdrawn">Withdrawn</option>
                <option id='closure_applicationLost' value="Application Lost">Application Lost</option>
                <option id='closure_neverResponded' value="Never Responded">Never Responded</option>
            </select>
        </div>
        <div class="col-12">
            <label>Comments</label>
            <input class="form-control" name='comments' value="{{this.comments}}"></input>
        </div>

        <div class='text-right p-3' style='width: 100%'>
            <a href='/viewall'>
                <div class='btn btn-secondary'>Cancel</div>
            </a>
            <button class='btn btn-primary' type='submit'>Submit</button>
        </div>

    </form>

</div>

<script>
    function setUUIDforRecord(){
        $('#uuid').val(localStorage.getItem("active-user"))
    }
    setUUIDforRecord()
</script>