<div class='container-fluid card p-3'>

    <form action="/edit/process" method="POST" class="row">

        {{# each data}}

        <div class="col-12" style='display: none'>
            <label>ID</label>
            <input type="text" class="form-control" name='id' value="{{this._id}}">
        </div>
        <div class="col-6">
            <label>Company Name</label>
            <input type="text" class="form-control" name='companyName' value="{{this.companyName}}">
        </div>
        <div class="col-6">
            <label>Job Title</label>
            <input type="text" class="form-control" name='jobTitle' value="{{this.jobTitle}}">
        </div>
        <div class="col-12">
            <label>Job Description</label>
            <input type="text" class="form-control" name='jobDescription' value="{{this.jobDescription}}">
        </div>
        <div class="col-6">
            <label>Job Level</label>
            <select class="form-control" id='jobLevel' name="jobLevel" data-existing='{{this.jobLevel}}'>
                <option id='jobLevel_internship' value="Internship">Internship</option>
                <option id='jobLevel_entryLevel' value="Entry Level">Entry Level</option>
                <option id='jobLevel_midLevel' value="Mid Level">Mid Level</option>
                <option id='jobLevel_seniorLevel' value="Senior Level">Senior Level</option>
                <option id='jobLevel_notIndicated' value="Not Indicated">Not Indicated</option>
            </select>
        </div>
        <div class="col-6">
            <label>Minimum Years Experience</label>
            <input type="number" step='0.5' class="form-control" name='minimumYearsExperience'
                value="{{this.minimumYearsExperience}}">
        </div>
        <div class="col-6">
            <label>Desire Level</label>
            <input type="range" class="form-control slider" min="1" max="5" value="{{this.desireLevel}}"
                name='desireLevel'>
        </div>
        <div class="col-6">
            <label>Confidence Level</label>
            <input type="range" class="form-control slider" min="1" max="5" value="{{this.confidenceLevel}}"
                name='confidenceLevel'>
        </div>
        <div class="col-6">
            <label>Application Submission Date</label>
            <input type="date" class="form-control" name='applicationSubmissionDate'
                value="{{this.applicationSubmissionDate}}">
        </div>
        <div class="col-6">
            <label>Date of First Response</label>
            <input type="date" class="form-control" name='dateOfFirstResponse' value="{{this.dateOfFirstResponse}}">
        </div>
        <div class="col-4">
            <label>Four Year Degree Required?</label>
            <select class="form-control" id="fourYearDegreeRequired" name="fourYearDegreeRequired"
                data-existing='{{this.fourYearDegreeRequired}}'>
                <option id='fourYearDegreeRequired_yes' value="Yes">Yes</option>
                <option id='fourYearDegreeRequired_no' value="No">No</option>
            </select>
        </div>
        <div class="col-4">
            <label>Degree in Preferred Major Held?</label>
            <select class="form-control" id="preferredDegreeHeld" name="preferredDegreeHeld"
                data-existing='{{this.preferredDegreeHeld}}'>
                <option id='preferredDegreeHeld_yes' value="Yes">Yes</option>
                <option id='preferredDegreeHeld_no' value="No">No</option>
            </select>
        </div>
        <div class="col-4">
            <label>Major Corporation?</label>
            <select class="form-control" id="majorCorporation" name="majorCorporation"
                data-existing='{{this.majorCorporation}}'>
                <option id='majorCorporation_yes' value="Yes">Yes</option>
                <option id='majorCorporation_no' value="No">No</option>
            </select>
        </div>
        <div class="col-12">
            <label>List of Essential Skills</label>
            <input type="text" class="form-control" name='essentialSkills' value="{{this.essentialSkills}}">
        </div>
        <div class="col-4">
            <label>Location of Posting</label>
            <select class="form-control" id="locationOfPosting" name="locationOfPosting"
                data-existing='{{this.locationOfPosting}}'>
                <option id='locationOfPosting_linkedIn' value="LinkedIn">LinkedIn</option>
                <option id='locationOfPosting_glassdoor' value="Glassdoor">Glassdoor</option>
                <option id='locationOfPosting_indeed' value="Indeed">Indeed</option>
                <option id='locationOfPosting_monster' value="Monster">Monster</option>
                <option id='locationOfPosting_companyWebsite' value="Company Website">Company Website</option>
                <option id='locationOfPosting_other' value="Other">Other</option>
            </select>
        </div>
        <div class="col-4">
            <label>Location of Submission</label>
            <select class="form-control" id="locationOfSubmission" name="locationOfSubmission"
                data-existing='{{this.locationOfSubmission}}'>
                <option id='locationOfSubmission_linkedIn' value="LinkedIn">LinkedIn</option>
                <option id='locationOfSubmission_glassdoor' value="Glassdoor">Glassdoor</option>
                <option id='locationOfSubmission_indeed' value="Indeed">Indeed</option>
                <option id='locationOfSubmission_monster' value="Monster">Monster</option>
                <option id='locationOfSubmission_companyWebsite' value="Company Website">Company Website</option>
                <option id='locationOfSubmission_other' value="Other">Other</option>
            </select>
        </div>
        <div class="col-4">
            <label>Easy Apply?</label>
            <select class="form-control" id='easyApply' name="easyApply" data-existing='{{this.easyApply}}'>
                <option id='easyApply_yes' value="Yes">Yes</option>
                <option id='easyApply_no' value="No">No</option>
            </select>
        </div>
        <div class="col-4">
            <label>Stack Type</label>
            <select class="form-control" id='stackType' name="stackType" data-existing='{{this.stackType}}'>
                <option id='stackType_frontEnd' value="Front End">Front End</option>
                <option id='stackType_backEnd' value="Back End">Back End</option>
                <option id='stackType_fullStack' value="Full Stack">Full Stack</option>
            </select>
        </div>
        <div class="col-4">
            <label>Years Relevant Experience at Time of Application</label>
            <input type="number" step='0.5' class="form-control" name='yearsExperienceAtTimeOfApplication'
                value="{{this.yearsExperienceAtTimeOfApplication}}">
        </div>
        <div class="col-4">
            <label>Number of Featured Projects at Time of Application</label>
            <input type="number" step='1' class="form-control" name='numberOfFeaturedProjectsAtTimeOfApplication'
                value="{{this.numberOfFeaturedProjectsAtTimeOfApplication}}">
        </div>
        <div class="col-12">
            <label>Application Follow-Up URL</label>
            <input type="text" class="form-control" name='applicationURL' value="{{this.applicationURL}}">
        </div>
        <div class="col-6">
            <label>Application Progress</label>
            <select class="form-control" id='progress' name='progress' data-existing='{{this.progress}}'>
                <option id='progress_applicationSubmitted' value="Application Submitted">Application Submitted</option>
                <option id='progress_resumeReviewed' value="Resume Reviewed">Resume Reviewed</option>
                <option id='progress_portfolioReferenced' value="Portfolio Referenced">Portfolio Referenced</option>
                <option id='progress_interviewOffered' value="Interview Offered">Interview Offered</option>
                <option id='progress_interviewCompleted' value="Interview Completed">Interview Completed</option>
                <option id='progress_jobOffered' value="Job Offered">Job Offered</option>
            </select>
        </div>
        <div class="col-6">
            <label>Closure</label>
            <select class="form-control" id='closure' name='closure' data-existing='{{this.closure}}'>
                <option id='closure_outstanding' value="Outstanding">Outstanding</option>
                <option id='closure_accepted' value="Accepted">Accepted</option>
                <option id='closure_denied' value="Denied">Denied</option>
                <option id='closure_withdrawn' value="Withdrawn">Withdrawn</option>
                <option id='closure_applicationLost' value="Application Lost">Application Lost</option>
                <option id='closure_neverResponded' value="Never Responded">Never Responded</option>
            </select>
        </div>
        <div class="col-12">
            <label>Comments</label>
            <input class="form-control" name='comments' value="{{this.comments}}"></input>
        </div>

        {{/each}}

        <div class='text-right p-3' style='width: 100%'>
            <a href='/viewall'>
                <div class='btn btn-secondary'>Cancel</div>
            </a>
            <button class='btn btn-primary' type='submit'>Submit</button>
        </div>

    </form>

</div>

{{!-- Functions --}}
<script>
    function prefillJobLevelValue() {
        let x = $('#jobLevel').attr('data-existing')
        switch (x) {
            case 'Internship':
                return $('#jobLevel_internship').attr('selected', 'selected');
            case 'Entry Level':
                return $('#jobLevel_entryLevel').attr('selected', 'selected');
            case 'Mid Level':
                return $('#jobLevel_midLevel').attr('selected', 'selected');
            case 'Senior Level':
                return $('#jobLevel_seniorLevel').attr('selected', 'selected');
            default:
                return $('#jobLevel_notIndicated').attr('selected', 'selected');
        }
    };
    function prefillFourYearDegreeValue() {
        let x = $('#fourYearDegreeRequired').attr('data-existing')
        console.log('Four year degree val: ' + x)
        switch (x) {
            case 'Yes':
                return $('#fourYearDegreeRequired_yes').attr('selected', 'selected');
            case 'No':
                return $('#fourYearDegreeRequired_no').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillProgressValue() {
        let x = $('#progress').attr('data-existing')
        switch (x) {
            case 'Application Submitted':
                return $('#progress_applicationSubmitted').attr('selected', 'selected');
            case 'Resume Reviewed':
                return $('#progress_resumeReviewed').attr('selected', 'selected');
            case 'Portfolio Referenced':
                return $('#progress_portfolioReferenced').attr('selected', 'selected');
            case 'Interview Offered':
                return $('#progress_interviewOffered').attr('selected', 'selected');
            case 'Interview Completed':
                return $('#progress_interviewCompleted').attr('selected', 'selected');
            case 'Job Offered':
                return $('#progress_jobOffered').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillMajorCorporationValue() {
        let x = $('#majorCorporation').attr('data-existing')
        switch (x) {
            case 'Yes':
                return $('#majorCorporation_yes').attr('selected', 'selected');
            case 'No':
                return $('#majorCorporation_no').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillLocationOfPostingValue() {
        let x = $('#locationOfPosting').attr('data-existing')
        switch (x) {
            case 'LinkedIn':
                return $('#locationOfPosting_linkedIn').attr('selected', 'selected');
            case 'Glassdoor':
                return $('#locationOfPosting_glassdoor').attr('selected', 'selected');
            case 'Indeed':
                return $('#locationOfPosting_indeed').attr('selected', 'selected');
            case 'Monster':
                return $('#locationOfPosting_monster').attr('selected', 'selected');
            case 'Company Website':
                return $('#locationOfPosting_companyWebsite').attr('selected', 'selected');
            case 'Other':
                return $('#locationOfPosting_other').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillLocationOfSubmissionValue() {
        let x = $('#locationOfSubmission').attr('data-existing')
        switch (x) {
            case 'LinkedIn':
                return $('#locationOfSubmission_linkedIn').attr('selected', 'selected');
            case 'Glassdoor':
                return $('#locationOfSubmission_glassdoor').attr('selected', 'selected');
            case 'Indeed':
                return $('#locationOfSubmission_indeed').attr('selected', 'selected');
            case 'Monster':
                return $('#locationOfSubmission_monster').attr('selected', 'selected');
            case 'Company Website':
                return $('#locationOfSubmission_companyWebsite').attr('selected', 'selected');
            case 'Other':
                return $('#locationOfSubmission_other').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillEasyApplyValue() {
        let x = $('#easyApply').attr('data-existing')
        switch (x) {
            case 'Yes':
                return $('#easyApply_yes').attr('selected', 'selected');
            case 'No':
                return $('#easyApply_no').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillStackTypeValue() {
        let x = $('#stackType').attr('data-existing')
        switch (x) {
            case 'Front End':
                return $('#stackType_frontEnd').attr('selected', 'selected');
            case 'Back End':
                return $('#stackType_backEnd').attr('selected', 'selected');
            case 'Full Stack':
                return $('#stackType_fullStack').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillPreferredDegreeValue() {
        let x = $('#preferredDegreeHeld').attr('data-existing')
        switch (x) {
            case 'Yes':
                return $('#preferredDegreeHeld_yes').attr('selected', 'selected');
            case 'No':
                return $('#preferredDegreeHeld_no').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillProgressValue() {
        let x = $('#progress').attr('data-existing')
        switch (x) {
            case 'Application Submitted':
                return $('#progress_applicationSubmitted').attr('selected', 'selected');
            case 'Resume Reviewed':
                return $('#progress_resumeReviewed').attr('selected', 'selected');
            case 'Portfolio Referenced':
                return $('#progress_portfolioReferenced').attr('selected', 'selected');
            case 'Interview Offered':
                return $('#progress_interviewOffered').attr('selected', 'selected');
            case 'Interview Completed':
                return $('#progress_interviewCompleted').attr('selected', 'selected');
            case 'Job Offered':
                return $('#progress_jobOffered').attr('selected', 'selected');
            default:
                return;
        }
    };
    function prefillClosureValue() {
        let x = $('#closure').attr('data-existing')
        switch (x) {
            case 'Outstanding':
                return $('#closure_outstanding').attr('selected', 'selected');
            case 'Accepted':
                return $('#closure_accepted').attr('selected', 'selected');
            case 'Denied':
                return $('#closure_denied').attr('selected', 'selected');
            case 'Withdrawn':
                return $('#closure_withdrawn').attr('selected', 'selected');
            case 'Application Lost':
                return $('#closure_applicationLost').attr('selected', 'selected');
            case 'Never Responded':
                return $('#closure_neverResponded').attr('selected', 'selected');
            default:
                return;
        }
    };
</script>

{{!-- Run Program --}}
<script>
    prefillJobLevelValue()
    prefillFourYearDegreeValue()
    prefillProgressValue()
    prefillMajorCorporationValue()
    prefillLocationOfPostingValue()
    prefillLocationOfSubmissionValue()
    prefillEasyApplyValue()
    prefillStackTypeValue()
    prefillPreferredDegreeValue()
    prefillProgressValue()
    prefillClosureValue()
</script>