<div class='container-fluid card p-3'>

    <form action="/edit/process" method="POST" class="row">

        {{# each data}}

        <div class="col-12" style='display: none'>
            <label>ID</label>
            <input type="text" class="form-control" name='id' value="{{this._id}}">
        </div>
        <div class="col-6">
            <label>Company Name</label>
            <input type="text" class="form-control" name='companyName' value="{{this.companyName}}">
        </div>
        <div class="col-6">
            <label>Job Title</label>
            <input type="text" class="form-control" name='jobTitle' value="{{this.jobTitle}}">
        </div>
        <div class="col-12">
            <label>Job Description</label>
            <input type="text" class="form-control" name='jobDescription' value="{{this.jobDescription}}">
        </div>
        <div class="col-6">
            <label>Job Level</label>
            <input type="text" class="form-control" name='jobLevel' value="{{this.jobLevel}}">
        </div>
        <div class="col-6">
            <label>Minimum Years Experience</label>
            <input type="text" class="form-control" name='minimumYearsExperience'
                value="{{this.minimumYearsExperience}}">
        </div>
        <div class="col-6">
            <label>Desire Level</label>
            <input type="range" class="form-control slider" min="1" max="5" value="{{this.desireLevel}}"
                name='desireLevel'>
        </div>
        <div class="col-6">
            <label>Confidence Level</label>
            <input type="range" class="form-control slider" min="1" max="5" value="{{this.confidenceLevel}}"
                name='confidenceLevel'>
        </div>
        <div class="col-6">
            <label>Application Submission Date</label>
            <input type="date" class="form-control" name='applicationSubmissionDate'
                value="{{this.applicationSubmissionDate}}">
        </div>
        <div class="col-6">
            <label>Date of First Response</label>
            <input type="date" class="form-control" name='dateOfFirstResponse' value="{{this.dateOfFirstResponse}}">
        </div>
        <div class="col-4">
            <label>Four Year Degree Required?</label>
            <input type="checkbox" class="form-control" name="fourYearDegreeRequired"
                value="{{this.fourYearDegreeRequired}}">
        </div>
        <div class="col-4">
            <label>CS Degree Preferred?</label>
            <input type="checkbox" class="form-control" name="csDegreePreferred" value="{{this.csDegreePreferred}}">
        </div>
        <div class="col-4">
            <label>Major Corporation?</label>
            <input type="checkbox" class="form-control" name="majorCorporation" value="{{this.majorCorporation}}">
        </div>
        <div class="col-12">
            <label>Essential Skills</label>
            <input type="text" class="form-control" name='essentialSkills' value="{{this.essentialSkills}}">
        </div>
        <div class="col-4">
            <label>Location of Posting</label>
            <input type="text" class="form-control" name='locationOfPosting' value="{{this.locationOfPosting}}">
        </div>
        <div class="col-4">
            <label>Location of Submission</label>
            <input type="text" class="form-control" name='locationOfSubmission' value="{{this.locationOfSubmission}}">
        </div>
        <div class="col-4">
            <label>Easy Apply?</label>
            <input type="checkbox" class="form-control" name="easyApply" value="{{this.easyApply}}">
        </div>
        <div class="col-4">
            <label>Stack Type</label>
            <input type="text" class="form-control" name='stackType' value="{{this.stackType}}">
        </div>
        <div class="col-4">
            <label>Years Experience at Time of Application</label>
            <input type="text" class="form-control" name='yearsExperienceAtTimeOfApplication'
                value="{{this.yearsExperienceAtTimeOfApplication}}">
        </div>
        <div class="col-4">
            <label>Number of Featured Projects at Time of Application</label>
            <input type="text" class="form-control" name='numberOfFeaturedProjectsAtTimeOfApplication'
                value="{{this.numberOfFeaturedProjectsAtTimeOfApplication}}">
        </div>
        <div class="col-12">
            <label>Application URL</label>
            <input type="text" class="form-control" name='applicationURL' value="{{this.applicationURL}}">
        </div>
        <div class="col-6">
            <label>Application Progress</label>
            <select class="form-control" id='progress' name='progress' data-existing='{{this.progress}}'>
                <option id='progress_applicationSubmitted' value="Application Submitted">Application Submitted</option>
                <option id='progress_resumeReviewed' value="Resume Reviewed">Resume Reviewed</option>
                <option id='progress_portfolioReferenced' value="Portfolio Referenced">Portfolio Referenced</option>
                <option id='progress_interviewOffered' value="Interview Offered">Interview Offered</option>
                <option id='progress_interviewCompleted' value="Interview Completed">Interview Completed</option>
                <option id='progress_jobOffered' value="Job Offered">Job Offered</option>
            </select>
        </div>
        <div class="col-6">
            <label>Closure</label>
            <select class="form-control" id='closure' name='closure' data-existing='{{this.closure}}'>
                <option id='closure_outstanding' value="Outstanding">Outstanding</option>
                <option id='closure_accepted' value="Accepted">Accepted</option>
                <option id='closure_denied' value="Denied">Denied</option>
                <option id='closure_withdrawn' value="Withdrawn">Withdrawn</option>
                <option id='closure_applicationLost' value="Application Lost">Application Lost</option>
                <option id='closure_neverResponded' value="Never Responded">Never Responded</option>
            </select>
        </div>
        <div class="col-12">
            <label>Comments</label>
            <input class="form-control" name='comments' value="{{this.comments}}"></input>
        </div>

        {{/each}}

        <div class='text-right p-3'>
            <a href='/viewall'><button class='btn btn-secondary'>Cancel</button></a>
            <button class='btn btn-primary' type='submit'>Submit</button>
        </div>

    </form>

</div>

{{!-- Functions --}}
<script>
    function checkIfProgressSelected() {
        let progressValue = $('#progress').attr('data-existing')
        switch (progressValue) {
            case 'Application Submitted':
                return $('#progress_applicationSubmitted').attr('selected', 'selected');
            case 'Resume Reviewed':
                return $('#progress_resumeReviewed').attr('selected', 'selected');
            case 'Portfolio Referenced':
                return $('#progress_portfolioReferenced').attr('selected', 'selected');
            case 'Interview Offered':
                return $('#progress_interviewOffered').attr('selected', 'selected');
            case 'Interview Completed':
                return $('#progress_interviewCompleted').attr('selected', 'selected');
            case 'Job Offered':
                return $('#progress_jobOffered').attr('selected', 'selected');
            default:
                return;
        }
    };
    function checkIfClosureSelected() {
        let closureValue = $('#closure').attr('data-existing')
        switch (closureValue) {
            case 'Outstanding':
                return $('#closure_outstanding').attr('selected', 'selected');
            case 'Accepted':
                return $('#closure_accepted').attr('selected', 'selected');
            case 'Denied':
                return $('#closure_denied').attr('selected', 'selected');
            case 'Withdrawn':
                return $('#closure_withdrawn').attr('selected', 'selected');
            case 'Application Lost':
                return $('#closure_applicationLost').attr('selected', 'selected');
            case 'Never Responded':
                return $('#closure_neverResponded').attr('selected', 'selected');
            default:
                return;
        }
    };
</script>

{{!-- Run Program --}}
<script>
    checkIfProgressSelected()
    checkIfClosureSelected()
</script>